<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Shopping Cart</h1>
    <table>
        <thead>
            <tr>
                <th align="left">Name</th>
                <th align="left">Price</th>
                <th align="left">Number</th>
                <th align="left">Quantity</th>
            </tr>
        </thead>
        <tbody id = "productList">
            <tr th:each="product : ${products}">
                <td align="left" th:text="${product.name}"></td>
                <td align="center" th:text="${product.price}"></td>
                <td align="center">
                <input 
                    type="number" 
                    class="count"
                    value="0" 
                    min="0"
                    max="10"
                    th:data-price="${product.price}"
                    th:data-name = "${product.name}"
                    th:data-quantity = "${product.quantity}"
                />
                </td>
                <td align="center" th:text="${product.quantity}"></td>
            </tr>
        </tbody>
    </table>
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name">
    </div>
    <div>
        <button type="button" id="butBtn">buy</button>
    </div>
    <p id="total">total here</p>

    <script src="js/calculate.js"></script>
</body>
</html>
